
body {
    background-color: white;
    margin: 0;
}


header {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    line-height: normal;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 9999;
}
header * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}



nav {
    text-align: center;
    margin: 0 auto;
    font-family: fantasy;
}
nav ul li a {
    color: #fff;
    font-size: 21px;
    padding: 20px;
    transition: 250ms;

}
nav ul li a:hover {
    background: grey;
}

/* Global */
.content-container {
    max-width: 800px;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}
.btn {
    padding: 5px 20px;
    border: 1px solid white;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}
.btn:hover {
    background: white;
    color: black;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 35, 82, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
}
h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}
h2 {
    font-size: 30px;
}
#portfolio h2{
    text-align: center;
}


/* //Home */
.Home-Div {
    background-image: url(./images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.Home-Div .content {
    padding: 15em 0;
    color: white;
    position: relative;
    z-index: 2;
    text-align: center;
}

.Home-content .content-container {
    text-align: center;
}

/* About Section */

.about-div {
    background-image: url(./images/detroit.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.about-div .content {
    text-align: center;
    padding: 200px 0;
    color: white;
    position: relative;
    z-index: 2;
}


.overlap-info {
    margin-top: -75px;
    background: white;
    text-align: center;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 5px 2px rgba(0 0 0 / 75%);
    padding: 40px;
}
.about-content {
    padding-bottom: 40px;
}
.about-content h2 {
    margin-top: 40px;
    text-align: center;
}
.list-of-my-hobbies {
    list-style-type: none;
    margin-bottom: -20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.list-of-my-hobbies li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    width: 50%;
}
.list-of-my-hobbies li svg {
    width: 40px;
    height: 40px;
}
.list-of-my-hobbies li svg path {
    fill: rgb(232, 13, 13);
}
.list-of-my-hobbies li span {
    text-transform: capitalize;
    margin-left: 40px;
}
.list-of-projects {
    display: flex;
    flex-direction: row;
}
.list-of-projects > .items {
    flex: 1 50%;
}

.contact-section{
    background-color: #ccc;
    padding:20px 0 ;
    text-align: center;
}
.contact-section p{
    font-size: 25px;
}

/* Footer Styles */
footer {
    text-align: center;
    background: #000;
    padding: 10px;
    
}
footer a{
    color: transparent;
}
footer svg{
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
footer svg path {
    fill: aqua;
}
footer a:hover svg path {
    fill: white;
}

.portfolio-div {
    background-image: url(./images/portfolio_banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.portfolio-div .content {
    padding: 200px 0;
    color: white;
    position: relative;
    z-index: 2;
    text-align: center;
}
@media screen  and (max-width: 640px) {
    .list-of-projects {
        flex-direction: column;
    }
}